[color]
background = '{{colors.surface_container_lowest.default.hex}}'
foreground = '{{colors.primary.default.hex}}'

gradient = 1
gradient_count = 3
gradient_color_1 = '{{colors.primary.default.hex}}'
gradient_color_2 = '{{colors.primary_container.default.hex}}'
gradient_color_3 = '{{colors.inverse_primary.default.hex}}'
